.block-contacts {
    .phone {
        border: 3px solid #fff;
        // text-align: right;
        font-size: 21pt;
        line-height: 21pt;
        color: #e9292a;
        padding: 8pt;
    }
    .address {
        color: #32425c;
        padding: 5px 0 0 10px;
        font-size: 10pt;
        line-height: 24pt;
    }
}