.block-status-panel {
    background-color: var(--basecolor);
    padding: 0;
    margin-bottom: -5px;
}

.navbar-brand {
    background-color: #ee3643;
    color: #ffffff;
    font-size: 24px;
    line-height: 24px;

    padding-left: 55px;
    padding-right: 55px;
    padding-top: 13px;
    padding-bottom: 12px;
    border-bottom: 5px solid #b52933;
    margin: 0 18px 0 0;
}