.block-category {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 120px;
    grid-gap: 20px;
}

.carousel {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.card {
    padding: 25px;
    color: #ffffff;
    .title {
        font-family: cuprumRegular, sans-serif;
        font-size: 24pt;
        line-height: 30pt;
    }
    .btn {
        font-family: cuprumBold, sans-serif;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 14pt;
        line-height: 18pt;
        background-color: rgba($color: #000000, $alpha: 0.1);
        padding-left: 25px;
        padding-right: 25px;
    }
}

.materials {
    background-color: #f6b22d;
}

.tools {
    background-color: #4aafde;
}

.technics {
    background-color: #cc79d1;
}

.discount {
    background-color: #85d179;
}

.delivery {
    background-color: #f6b22d;
}