.header {
    background-color: #f1f5f7;
    margin-bottom: 60px;
    border-bottom: 1px solid transparent;
    .row {
        
        margin: 0;
    }
}

.block-title  {
    padding: 50px;
    h1 {
        color: red;
        font-size: 16pt;
        line-height: 23pt;
        font-family: cuprumItalic , sans-serif;
        font-weight: 400;
    }
}

